{% extends 'layout.html' %}
{% load trans from i18n %}
{% load static %}
{% block page_title %}
  Request your developer account
{% endblock %}
{% block body %}
  <div class="row">
    <div class="col-10 col-md-8 offset-1 offset-md-2">
      <div class="card">
        <h1 class="card-header mt-0 h3">
          Request your developer account
        </h1>
        <div class="card-body">
          <form role="register" method="POST" name="register_user_form">
            {% csrf_token %}
            <div class="form-group">
              <!-- Full name input-->
              <label for="{{ form.reason.id_for_label }}">Reason</label>
              {{ form.reason }}
              {{ form.reason.errors }}
            </div>

            <div class="form-group">
              <!-- Email input-->
              <label for="{{ form.sponsor.id_for_label }}">Sponsor</label>
              {{ form.sponsor }}
              {{ form.sponsor.errors }}
            </div>

            <button class="btn btn-success" id="register">Request account</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
