{% extends 'layout.html' %}
{% load avatar %}
{% load static %}
{% block page_title %}Edit Your Profile{% endblock %}
{% block head %}
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'plugins/css/semantic.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'martor/css/martor.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <style>
    .avatar-editor {
      align-items: center;
      justify-content: center;
      padding-right: 2mm;
    }

    .avatar-editor img {
      margin-right: 2mm;
      border-right: thin solid var(--border-color);
    }
  </style>
{% endblock %}
{% block body %}
  <div class="card">
    <h2 class="card-header h3 mt-0">Edit Profile</h2>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="card-body">
        <h4 class="mt-1">Information required</h4>
        <!-- Full name input-->
        <label class="control-label">Full Name</label>
        <div class="form-group {% if not user.full_name %}form-required{% endif %}">{{ form.full_name }}</div>
        {{ form.full_name.errors }}

        <!-- Email display-->
        <label class="control-label">Email</label>
        <div class="form-group">{{ form.email }}</div>{% if user.email_change_preconfirm %}
        <p class="help-text">A change to {{ user.email_change_preconfirm }} is already pending.<br/><a
          href="javascript:$('#cancel_email_change').submit()">Cancel this change</a> or <a
          href="{% url 'bid_main:confirm-email-change' %}">re-send confirmation email</a>.
        </p>{% endif %}
        {% comment %}
          <!-- Nickname input-->
          <label class="control-label">Nickname</label>
          <div class="form-group">{{ form.nickname }}</div>{{ form.nickname.errors }}
          {{ form.non_field_errors }}
          {% endcomment %}
        <!-- Avatar input-->
        <label class="control-label">Avatar</label>
        <div class="form-group avatar-editor d-flex">
          {% avatar size=64 %}
          <input class="form-control-file mt-2" id="avatar-file-input" type="file" name="avatar"/>
        </div>
        <div class="form-check">
          <input type="checkbox" name="avatar-clear" id="avatar-clear" />
          <label for="avatar-clear" class="mt-2">Clear</label>
        </div>
        {{ form.avatar.errors }}

        <hr />

        <h4 class="mt-1">Information for profile pages</h4>

        <p>Your profile page is available <a href="{% url "bid_main:public-profile" user.nickname %}">here</a></p>

        <div class="form-check">
          {{ form.public_profile }}
          <label class="form-check-label" for="{{ form.public_profile.id_for_label }}">
            {{ form.public_profile.label }}
          </label>
          <br />
          <small>A public profile can be seen by everyone</small>
        </div>

        {{ form.bio }}

        <div class="form-group">
          <label class="control-label" for="{{ form.homepage.id_for_label }}">{{ form.homepage.label }}</label>
          {{ form.homepage }}
        </div>

        <div class="form-group">
          <label class="control-label" for="{{ form.matrix_nick.id_for_label }}">{{ form.matrix_nick.label }}</label>
          {{ form.matrix_nick }}
        </div>

        <div class="form-group">
          <label class="control-label" for="{{ form.irc_nick.id_for_label }}">{{ form.irc_nick.label }}</label>
          {{ form.irc_nick }}
        </div>

        <div class="form-group">
          <label class="control-label" for="{{ form.mastodon_nick.id_for_label }}">{{ form.mastodon_nick.label }}</label>
          {{ form.mastodon_nick }}
	  <div class="valid-feedback">
	  </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="{{ form.twitter_nick.id_for_label }}">{{ form.twitter_nick.label }}</label>
          {{ form.twitter_nick }}
        </div>

        <div class="form-group">
          <label class="control-label" for="{{ form.liberapay_nick.id_for_label }}">{{ form.liberapay_nick.label }}</label>
          {{ form.liberapay_nick }}
        </div>
      </fieldset>
      <div class="card-footer">
        <button class="btn btn-filled-success btn-success" type="submit">Save Changes</button>
        <a class="btn btn-danger ml-2" href="{% url 'bid_main:index' %}">Discard Changes</a>
        <a class="btn btn-link" href="{% url 'bid_main:password_change' %}">Change Password</a>
      </div>
    </form>
    <form id="cancel_email_change" action="{% url 'bid_main:cancel-email-change' %}"
          method="POST">{% csrf_token %}</form>
  </div>
  {% if user.is_staff %}
    <div class="bid-links mt-3"><a href="{% url 'admin:bid_main_user_change' user.id %}">Edit account in admin</a>
    </div>
  {% endif %}
  {% block js %}

  <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/semantic.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/typo.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'martor/js/martor.min.js' %}"></script>
  {% endblock %}
{% endblock %}
