{% extends 'layout.html' %}

{% load static %}
{% load avatar badges %}
{% load martortags %}

{% block page_title %}
  {{ user.full_name }}'s Profile
{% endblock %}

{% block header %}
  <div class="bg-light py-3 mb-3 border-bottom">
    <div class="container">
      <div class="row col-md-10 mx-auto align-items-center">
        <div class="col-auto my-auto">
          {% avatar %}
        </div>
        <div class="col">
          <h2 class="mt-0">
            {{ user.full_name }} <small>(@{{ user.nickname }})</small>
          </h2>
          {% if user.homepage != "" %}
            <a href="{{ user.homepage }}">{{ user.homepage }}</a>
          {% endif %}
          {% if user == request.user %}
            <p><a href="{% url 'bid_main:profile' %}">Edit profile</a></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block body %}
  <style>
    .social-badge {
      height: 2rem;
      display: flex;
      align-items: center;
    }

    .icon {
      font-family: glyph;
      font-size: 1.3rem;
      text-indent: 0;
      color: #fafafa;
      padding-right: 0.5rem;
    }
  </style>
  <section class="my-3">
    <div class="d-flex justify-content-center flex-wrap">
      {% if user.irc_nick %}
        <a class="social-badge badge badge-dark m-2" href="irc://chat.freenode.net/{{ user.irc_nick }},isnick"><span
          class="font-weight-bold" style="font-size: 1.2rem">#</span>{{ user.irc_nick }}</a>
      {% endif %}
      {% if user.matrix_nick %}
        <a href="https://webchat.kde.org" class="social-badge badge badge-primary m-2">
      	  <svg xmlns="http://www.w3.org/2000/svg" width="50" class="mr-2" viewBox="0 0 793 340" style="paint-order:stroke;stroke:white;stroke-opacity:0.5;stroke-width:4;stroke-linejoin:round" fill="white" id="Layer_1">
            <path d="m 10.875,9.711 v 321.386 h 23.13 v 7.711 H 2 V 2 h 32 v 7.71 z"/>
            <path d="m 100,111.595 v 16.264 h 0.463 c 4.338,-6.191 9.563,-11 15.684,-14.406 6.117,-3.402 13.129,-5.11 21.027,-5.11 7.588,0 14.521,1.475 20.793,4.415 6.274,2.945 11.038,8.131 14.291,15.567 3.56,-5.265 8.4,-9.913 14.521,-13.94 6.117,-4.025 13.358,-6.042 21.724,-6.042 6.351,0 12.234,0.776 17.66,2.325 5.418,1.549 10.065,4.027 13.938,7.434 3.869,3.41 6.889,7.863 9.062,13.357 2.167,5.504 3.253,12.122 3.253,19.869 v 80.385 H 219.41 v -68.074 c 0,-4.025 -0.154,-7.82 -0.465,-11.385 -0.313,-3.56 -1.161,-6.656 -2.555,-9.293 -1.395,-2.631 -3.45,-4.724 -6.157,-6.274 -2.711,-1.543 -6.391,-2.322 -11.037,-2.322 -4.646,0 -8.403,0.896 -11.269,2.671 -2.868,1.784 -5.112,4.109 -6.737,6.971 -1.626,2.869 -2.711,6.12 -3.252,9.762 -0.545,3.638 -0.814,7.318 -0.814,11.035 v 66.91 h -33 v -67.375 c 0,-3.562 -0.081,-7.087 -0.23,-10.57 -0.158,-3.487 -0.814,-6.7 -1.978,-9.645 -1.162,-2.94 -3.1,-5.304 -5.809,-7.088 -2.711,-1.775 -6.7,-2.671 -11.965,-2.671 -1.551,0 -3.603,0.349 -6.156,1.048 -2.556,0.697 -5.036,2.016 -7.435,3.949 -2.404,1.938 -4.454,4.726 -6.158,8.363 -1.705,3.642 -2.556,8.402 -2.556,14.287 v 69.701 H 68.856 V 111.595 Z"/>
            <path d="m 273.544,129.255 c 3.405,-5.113 7.744,-9.215 13.012,-12.316 5.264,-3.097 11.186,-5.303 17.771,-6.621 6.582,-1.315 13.205,-1.976 19.865,-1.976 6.042,0 12.158,0.428 18.354,1.277 6.195,0.855 11.85,2.522 16.962,5 5.111,2.477 9.292,5.926 12.546,10.338 3.253,4.414 4.879,10.262 4.879,17.543 v 62.494 c 0,5.428 0.31,10.611 0.931,15.567 0.615,4.959 1.701,8.676 3.251,11.153 H 347.66 c -0.621,-1.86 -1.126,-3.755 -1.511,-5.693 -0.39,-1.933 -0.661,-3.908 -0.813,-5.923 -5.267,5.422 -11.465,9.217 -18.585,11.386 -7.127,2.163 -14.407,3.251 -21.842,3.251 -5.733,0 -11.077,-0.698 -16.033,-2.09 -4.958,-1.395 -9.293,-3.562 -13.01,-6.51 -3.718,-2.938 -6.622,-6.656 -8.713,-11.147 -2.091,-4.491 -3.138,-9.84 -3.138,-16.033 0,-6.813 1.2,-12.43 3.604,-16.84 2.4,-4.417 5.495,-7.939 9.295,-10.575 3.793,-2.632 8.129,-4.607 13.01,-5.923 4.878,-1.315 9.795,-2.358 14.752,-3.137 4.957,-0.772 9.835,-1.393 14.638,-1.857 4.801,-0.466 9.062,-1.164 12.779,-2.093 3.718,-0.929 6.658,-2.282 8.829,-4.065 2.165,-1.781 3.172,-4.375 3.02,-7.785 0,-3.56 -0.58,-6.389 -1.742,-8.479 -1.161,-2.09 -2.711,-3.719 -4.646,-4.88 -1.937,-1.161 -4.183,-1.936 -6.737,-2.325 -2.557,-0.382 -5.309,-0.58 -8.248,-0.58 -6.506,0 -11.617,1.395 -15.335,4.183 -3.716,2.788 -5.889,7.437 -6.506,13.94 h -33 c 0.462,-7.742 2.395,-14.173 5.807,-19.281 z m 65.169,46.583 c -2.09,0.696 -4.337,1.275 -6.736,1.741 -2.402,0.465 -4.918,0.853 -7.551,1.161 -2.635,0.313 -5.268,0.698 -7.7,1.163 -2.48,0.461 -4.919,1.086 -7.317,1.857 -2.404,0.779 -4.495,1.822 -6.274,3.138 -1.784,1.317 -3.216,2.985 -4.3,5 -1.085,2.014 -1.626,4.571 -1.626,7.668 0,2.94 0.541,5.422 1.626,7.431 1.084,2.017 2.558,3.604 4.416,4.765 1.858,1.161 4.025,1.976 6.507,2.438 2.475,0.466 5.031,0.698 7.665,0.698 6.505,0 11.537,-1.082 15.103,-3.253 3.561,-2.166 6.192,-4.762 7.9,-7.785 1.702,-3.019 2.749,-6.072 3.137,-9.174 0.384,-3.097 0.58,-5.576 0.58,-7.434 V 172.93 c -1.396,1.243 -3.138,2.21 -5.23,2.908 z"/>
            <path d="m 463.825,111.595 v 22.072 h -24.161 v 59.479 c 0,5.573 0.928,9.292 2.788,11.149 1.856,1.859 5.576,2.788 11.152,2.788 1.859,0 3.638,-0.076 5.343,-0.232 1.703,-0.152 3.33,-0.388 4.878,-0.696 v 25.557 c -2.788,0.465 -5.887,0.773 -9.293,0.931 -3.407,0.149 -6.737,0.23 -10,0.23 -5.111,0 -9.953,-0.35 -14.521,-1.048 -4.571,-0.695 -8.597,-2.047 -12.081,-4.063 -3.486,-2.011 -6.236,-4.88 -8.248,-8.597 -2.016,-3.714 -3.021,-8.595 -3.021,-14.639 v -70.859 h -19.98 v -22.072 h 19.98 V 75.583 h 33 v 36.012 z"/>
            <path d="M 510.988,111.595 V 133.9 h 0.465 c 1.546,-3.72 3.636,-7.163 6.272,-10.341 2.634,-3.172 5.652,-5.885 9.06,-8.131 3.405,-2.242 7.047,-3.985 10.923,-5.228 3.868,-1.237 7.898,-1.859 12.081,-1.859 2.168,0 4.566,0.39 7.202,1.163 v 30.67 c -1.551,-0.312 -3.41,-0.584 -5.576,-0.814 -2.17,-0.233 -4.26,-0.35 -6.274,-0.35 -6.041,0 -11.152,1.01 -15.332,3.021 -4.182,2.014 -7.55,4.761 -10.107,8.247 -2.555,3.487 -4.379,7.55 -5.462,12.198 -1.083,4.645 -1.625,9.682 -1.625,15.102 v 54.133 H 479.624 V 111.595 Z"/>
            <path d="M 570.93,93 V 65.824 h 33 v 27.183 z m 33,18.588 V 231.712 H 570.93 V 111.595 Z"/>
            <path d="m 621.115,111.595 h 37.637 l 21.144,31.365 20.911,-31.365 h 36.476 l -39.496,56.226 44.377,63.892 h -37.64 l -25.093,-37.87 -25.094,37.87 h -36.938 l 43.213,-63.193 z"/>
            <path d="M 782.443,331.097 V 9.711 h -23.13 v -7.71 h 32 v 336.807 h -32 v -7.711 z"/>
          </svg>
          {{ user.matrix_nick }}
	</a>
      {% endif %}
      {% if user.mastodon_nick %}
        <a class="social-badge badge badge-info m-2" href="{{ user.mastodon_link }}" rel="me nofollow">
          <span class="icon" aria-hidden="true">m</span>
          {{ user.mastodon_nick }}
        </a>
      {% endif %}
      {% if user.twitter_nick %}
        <a class="social-badge badge badge-primary m-2" href="https://twitter.com/{{ user.twitter_nick_link }}"
           rel="me nofollow">
          <span class="icon" aria-hidden="true">T</span>
          {{ user.twitter_nick }}
        </a>
      {% endif %}
      <a class="social-badge badge badge-danger m-2" href="https://invent.kde.org/{{ user.nickname }}"
         rel="nofollow" style="background-color: #e24329">
	<svg height=48 width=34 viewBox="0 0 586 559" xmlns="http://www.w3.org/2000/svg"><path d="M461.51 298.36l-18.049-55.587c.008.025.011.051.019.076-.009-.029-.014-.058-.022-.087-.001-.002-.001-.003-.001-.005v-.002l-35.83-110.31c-1.96-5.811-7.353-9.711-13.536-9.663-6.201.032-11.446 3.857-13.364 9.748l-34.01 104.7h-107.31l-34.074-104.71c-1.916-5.886-7.162-9.71-13.362-9.742h-.075c-6.105 0-11.509 3.876-13.49 9.752l-35.732 110.21-.005.014v.003c-.009.028-.013.056-.022.084.008-.025.011-.051.019-.076l-18.115 55.591c-2.725 8.392.232 17.512 7.36 22.697l156.42 113.65c.023.017.049.027.072.044.067.048.132.097.2.142-.064-.043-.124-.09-.187-.134 0 0 0-.001-.001-.001.01.008.022.013.033.02.009.006.018.01.027.016.001.001.002.002.004.003.242.168.493.322.753.463.036.02.068.045.104.064.001 0 .001.001.002.001.022.011.042.025.064.036.017.008.035.013.051.021.012.006.025.01.037.015.029.014.061.023.09.038.136.065.279.118.419.175.131.054.258.117.392.164.006.002.011.005.017.007.022.008.042.019.065.027.028.01.055.021.083.03.011.003.022.005.033.008.035.011.073.016.108.026.013.004.028.006.042.01.188.057.383.098.577.141.076.017.149.041.226.055.011.002.021.006.033.008.025.005.048.014.074.018.041.007.081.02.123.026.033.005.067.003.1.008.006.001.011 0 .017.001h.005c.369.053.743.09 1.124.09h.013c.382 0 .756-.037 1.126-.09h.004c.006-.001.012 0 .018-.001.033-.005.068-.003.101-.008.042-.007.082-.019.124-.026.025-.004.048-.013.073-.018.011-.002.021-.006.032-.008.078-.015.153-.039.231-.056.191-.042.383-.083.57-.139.013-.004.026-.005.039-.009.037-.011.075-.016.112-.027.011-.004.023-.005.034-.008.029-.009.057-.021.085-.031.022-.008.042-.019.064-.027.006-.002.011-.005.017-.007.142-.05.276-.116.415-.173.129-.054.261-.102.387-.162.031-.015.064-.024.094-.039.012-.006.026-.01.038-.016.017-.008.035-.013.052-.022.023-.012.045-.026.067-.037 0 0 .001 0 .001-.001.037-.019.07-.046.107-.066.258-.14.508-.293.749-.46.019-.013.041-.023.061-.037.005-.004.011-.006.016-.01.023-.017.05-.028.073-.045l156.44-113.65c7.124-5.182 10.081-14.302 7.356-22.694zm-67.32-155.58l30.68 94.456h-61.36l30.68-94.456zm25.307 110.43l-12.519 16.041-92.334 118.31 43.677-134.35h61.176zm-134.07 177.5c.008.024.021.046.029.071-.008-.025-.021-.047-.029-.071zm-14.008-43.149l-104.8-134.36h61.18l43.616 134.36zm-79.545-244.78l30.737 94.457h-61.36l30.623-94.457zm-50.571 165.36c-1.516-1.103-2.144-3.05-1.563-4.838l13.466-41.325 98.67 126.5-110.57-80.339zm146.75 126.36c-.031-.025-.061-.052-.091-.078-.006-.005-.012-.012-.019-.017-.06-.05-.119-.101-.177-.153-.114-.099-.226-.2-.333-.306.009.008.019.015.028.023.012.011.025.02.037.031.229.219.47.425.722.615.003.002.005.005.008.007.012.009.022.02.034.03-.069-.05-.141-.098-.209-.152zm4.975-32.097l-25.665-79.059-22.766-70.131h96.933l-48.502 149.19zm5.253 31.849c-.06.052-.118.104-.179.154-.007.006-.014.013-.021.019-.031.025-.06.052-.09.077-.066.053-.138.101-.207.152.012-.009.022-.021.035-.029l.006-.006c.252-.19.492-.394.719-.613.009-.009.02-.016.029-.024.012-.011.025-.02.036-.031-.106.103-.217.203-.328.301zm146.48-126.11l-110.56 80.317 98.703-126.47 13.412 41.307c.582 1.796-.045 3.743-1.558 4.843z" fill="white"/></svg>
        Gitlab
      </a>
    </div>

    <div class="mt-3">
      {{ user.bio | escape | safe_markdown }}
    </div>

    {% if user.liberapay_nick != "" %}
      <h3>Funding</h3>
      <a href="https://liberapay.com/{{ user.liberapay_nick }}">
        <img src="https://liberapay.com/assets/liberapay/logo-v2_black-on-yellow.svg" class="img-fluid text-center">
      </a>
    {% endif %}

    <h3>{{ user.full_name }}'s Badges</h3>
    {% with badges=user.public_badges %}
      {% if badges %}
        <ul class="badges d-flex">
          {% for badge in badges %}
            <li class="badge {{ badge.name }}" title="{{ badge.description }}">
              {% if badge.link %}
                <a href="{{ badge.link }}" target="_blank">
                  {% if badge.badge_img %}
                    <img class="img-responsive" src="{{ badge.badge_img.url }}" width="100" height="100"
                         alt="{{ badge.description }}"/>
                    <br/>
                  {% endif %}
                  <span class="badge-label">{{ badge.label }}</span>
                </a>
              {% else %}
                <span class="nolink">
                  {% if badge.badge_img %}
                    <img class="img-responsive" src="{{ badge.badge_img.url }}" width="100" height="100"
                         alt="{{ badge.description }}"/>
                    <br/>
                  {% endif %}
                  <span class="badge-label">{{ badge.label }}</span>
                </span>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        <p>
          {{ user.full_name }} has {{ badges|length }} public badge{{ badges|pluralize }}.
        </p>
      {% else %}
        <p>
          {{ user.full_name }} doesn't have any badges
        </p>
      {% endif %}
    {% endwith %}
  </section>
{% endblock %}
