
{% extends "email_layout.html" %}
{% block body %}
<h1>Your KDE Identity email changed</h1>
<p>Hi {{ user.full_name|default:user.email }}!</p>
<p>
  Somebody, maybe it was you, changed your email address on
  <a href="{{ blender_id }}">KDE Identity</a>, from
  <strong>{{ old_email }}</strong> to <strong>{{ user.email }}</strong>.
  
</p>
<p>
  This notification is sent to both your old and your new email addresses. If you did not receive
  it at your new address, please verify that your address is correct.
  
</p>
<p>
  If this change was not your intent, or you made a mistake, please log in using {{ user.email }}
  at <a href="{{ blender_id }}">KDE Identity</a> and you'll be able to change it back.
  
</p>
<p>
  You can always contact us at
  <a href="mailto:cloudsupport@blender.org">cloudsupport@blender.org</a> if you need any help.
  
</p>
<section class="about">
  <h2>About KDE Identity</h2>
  <p>
    Use your new email address ({{ user.email }}) to log in to any KDE Identity enabled website,
    such as Blender Cloud, Blender Network, Blender Store, etc.
    
  </p>
  <p>Check your dashboard at <a href="{{ blender_id }}">blender.org/id</a> for more information.
    
  </p>
</section>{% endblock %}