
<li class="badge {{ badge.name }}{% if badge.id in private_badge_ids %} private{% endif %}" title="{{ badge.description }}">
  {% if badge.link %}
    <a href="{{ badge.link }}" target="_blank">
      {% if badge.badge_img %}
        <img class="img-responsive" src="{{ badge.badge_img.url }}" width="100" height="100" alt="{{ badge.description }}"/>
	<br/>
      {% endif %}
      <span class="badge-label">{{ badge.label }}</span>
    </a>
  {% else %}
    <span class="nolink">
      {% if badge.badge_img %}
        <img class="img-responsive" src="{{ badge.badge_img.url }}" width="{{ badge.badge_img_width }}" height="{{ badge.badge_img_height }}" alt="{{ badge.description }}"/>
	<br/>
      {% endif %}
      <span class="badge-label">
	{{ badge.label }}
      </span>
    </span>
  {% endif %}
  <br />

  <span class="badge-privacy-toggle">
    <div class="form-check form-check-inline">
	    <input id="id_private_{{ badge.name }}" data-badge-name="{{ badge.name }}" type="checkbox" {% if badge.id not in private_badge_ids %}checked{% else %}data-checked=false{% endif %}>
      <label for="#id_private_{{ badge.name }}">Show badge in public?</label>
  </span>
</li>
