
{% extends 'bid_main/confirm_email/form.html' %}
{% block confirm_email_above_form %}
<h1>Confirm your email address</h1>
<p>
  Before you can log in on another website with your MyKDE, we have to verify your
  email address.
  
</p>
<p>
  Your email address is used to regain access to your account when you forget or reset your
  password. By confirming your email address, we can ensure this account actually belongs to you.
</p>
{% endblock %}
