
{% extends 'bid_main/confirm_email/form.html' %}
{% block confirm_email_above_form %}
<h1 class="text-danger">Link Expired</h1>
<p>The link you used to verify your email address was more than 12 hours old.</p>
<p>Let's try it again.</p>{% endblock %}